@use 'variables' as *;

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 800;
  color: $color-primary;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: $color-primary;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  line-height: 1.6;
}
